body{
    background: rgb(200, 219, 157);
}
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
img{
    width: 90px;
    height: 90px;
}
nav {
    background: green;
    width: fit-content;
    height: 50px;
    padding: 10px;
    border-radius: 10px;
}

nav p a{
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
