body{
    background: #DAF7A6;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header img {
    float: left;
}

header div img {
    margin-top: 10px;
}

h1{
    margin-left: 160px;
    color: #06330C;
    font-size: 35px;
    line-height: 180px;
    margin-top:-8px;
}

.img-menu{
    display: none;
}

#menu-h {
    height:60px;
    border-radius: 15px;
    background-color: hsl(128, 79%, 11%);
} 

#menu-h ul {
    display: flex;
    text-align: center;
    margin:auto;
    font-size: 25px;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
}

#menu-h a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 16px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 60px;
}

#menu-h a img {
    width: 22px;
    height: 22px;
    margin: 17px;
}

nav ul li:hover{
    background-color:#A9DFBF;
}


.Carrito {
    background: #149425;
    width: 100px;
    height: 80px;
    margin-left: 140px;
    border-radius: 20px;
    display: flex;
}

.Carrito img {
    width: 60px;
    height: 60px;
    margin-left: 15px;
    margin-top: 10px;
}

main {
    display: block;
    width: 100%;
    height: auto;
}

main h1 {
    color: black;
    font-size: 60px;
    margin-top:-50px;
    margin-left: 20px;
}
.productos1::-webkit-scrollbar{
    width: 0;
    background: green;
}
.productos1{
    display: block;
    justify-content: center;
    align-items: center;
    margin-left: 140px;
}
.product{
    width: 800px;
    height: auto;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: auto auto auto auto;
    background: white;
    padding: 30px;
    border-radius: 15px;
}
main .infom{
    width:100px;
    height: 100px;
    padding: 5px;
    border-radius: 10px;
    color: white;
    background: rgb(44, 42, 42);
    line-height: 18px;
}
main .infom .boton{
    width: 100%;
    height: 10px;
    display: block;
    justify-content: center;
    align-items: center;
}
main .infom a{
    font-weight: 300;
    display: block;
    align-items: center;
    float: right;
    border: none;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    background: rgb(192, 16, 16);
    color: white;
    width: 70px;
}
main .infom p{
    text-align: center;
}
.compra .total{
    width: fit-content;
    border:solid 2px;
    border-color: green;
    border-radius: 5px;
    margin-left: 850px;
    margin-top: -180px;
}
.compra .total p{
    margin: 3px;
    color: green;
}
.botn-compra{
    padding: 4px;
    background: green;
    color: white;
    border: none;
    border-radius: 8px;
    width: 130px;
    font-weight: 500;
    font-size: 13pt;
}

/**/
.Barra {
    color: white;
    background: red;
    border-radius: 20px;
    width: 50px;
    height: 15px;
    margin-left: 30px;
}

main .Barra:hover{
    background-color:#A9DFBF;
}

.Caja h5 {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

.Barra h6 {
    font-size: 10px;
    line-height: 15px;
    margin-left: 5px;
}

.Caja form .subcaja1 {
    width: 90px;
    height: 85px;
    background: black;
    border-radius: 15px;
    margin-top: 30px;
    padding: 5px;
    margin-left: 45px;
}

.subcaja1 h5 {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
}


.subcaja2 {
    width: 90px;
    height: 85px;
    background: black;
    border-radius: 15px;
    margin-left: 1px;
    margin-top: 30px;
    padding: 5px;
}

.subcaja2 h5 {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

main .Caja form .subcaja3 {
    width: 90px;
    height: 85px;
    background: rgb(2, 2, 6);
    border-radius: 15px;
    margin-top: 30px;
    padding: 5px;
    margin-left: 45px;
}

.subcaja3 h5 {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

main .Caja form .subcaja4 {
    width: 90px;
    height: 85px;
    background: black;
    border-radius: 15px;
    margin-top: -103px;
    padding: 5px;
    margin-left: 200px;
}

.subcaja4 h5 {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

main .Caja form .subcaja5 {
    width: 90px;
    height: 85px;
    background: black;
    border-radius: 15px;
    margin-left: 357px;
    margin-top: -85px;
    padding: 5px;
}

.subcaja5 h5 {
    color: white;
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5px;
}

div .Total {
    width:140px;
    height:auto;
    border-radius: 5px;
    border-color: #06330C;
}

.Total {
    display: flex;
    list-style: none;
    margin-left: 50px;
    height: 50px;
    margin-top: 180px;
    }

.Total h5 {
    font-family:Arial, Helvetica, sans-serif;
    color:#149425;
    text-decoration: none;
    text-align:center;
    font-size: 25px;
    border-style:solid;
    border-color: #23ac35;
    border-radius: 15px;
    border-width: 5px;
    height: 50px;
    width: 200px;
    line-height: 40px;
}

#Comprar {
    background-color:#06330C;
    width:200px;
    height:40px;
    border-radius: 15px;
    margin-left: 850px;
}

#Comprar ul {
    display: flex;
    text-align: center;
    font-size: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 38px;
    }

#Comprar a {
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

#Comprar ul:hover{
    background-color:#A9DFBF;
    border-radius: 12px;
}

#Comprar ul li {
    margin: 0;
    padding: 0;
}

#limpiar_car button{
    background-color:#06330C;
    color: white;
    width:200px;
    height:40px;
    border-radius: 15px;
    border: none;
    margin-left: 850px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;

}
#limpiar_car button:hover{
    background-color:#A9DFBF;
    border-radius: 12px;
}

button:not(:disabled){
    margin-left: 850px;
}

footer{
    height: 100px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor:pointer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer h4{
    color: #06330C;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 450px;
}

footer h5{
    text-align: right;
    margin-left: 550px;
    color: #06330C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 450px;
}

.redes {
    align-items: center;
    display: block;
    margin-bottom: 450px;
}

.redes .sociales{
    text-align: center;
    line-height: 100px;
    display: block;
}

.redes .sociales li{
    display: inline-block;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.redes img:hover {
    background-color:#A9DFBF;
    border-radius: 20px;
}

/*web responsive: laptop*/
@media screen and (max-width: 1124px) and  (min-width:701px){
    header{
        display: block;
        align-items: center;
        justify-content: center;
    }
    header .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main{
        margin-top: 30px;
    }
    main .Carrito{
        margin-left: 10px;
    }
    .productos1{
        margin-left: 10px;
    }
    main .imagen2 img{
        width: auto;
        height: auto;
        margin-top: 0px;
    }
    footer{
        display: grid;
        margin-top: 100px;
    }

    footer .btn-abrir-popup {
        height: auto;
        order: 1;
    }
    footer .Barra{
        order: 2;
        text-align: center;
        margin-top: 30px;
    }
    footer .redes{
        order: 3;
    }
    .redes .sociales{
        padding-top: 0;
        margin-left: 0;
    }
}

/* web responsive: movil */
@media screen and (max-width: 700px) {
    * {
        box-sizing: border-box;
        font-size: 13pt;
    }

    body {
        display: block;
        align-items: center;
        justify-content: center;
    }

    header {
        display: block;
        align-items: center;
    }
    .content{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .inicio_imagen {
        display: inline-flex;
        justify-content: center;
    }

    h1 {
        line-height: 130px;
        color: #06330c;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 28px;
        margin-left: 0;
        padding-top: 10px;
    }

    .img-menu {
        display: block;
        width: 30px;
        height: 30px;
        float: right;
        padding: 2px;
        margin: 20px;
        padding-top: 25px;
    }

    .inicio_imagen img {
        width: 100px;
        height: 100px;
    }

    .img-menu{
        display: block;
        width: 30px;
        height: 30px;
        float: right;
        padding: 2px;
        margin: 20px;  
        padding-top: 25px;
    }
    nav ul li{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 100%;
        
    }
    #menu-h {
        background-color: transparent;
        width: 100%;  
        padding: 0px; 
    }

    #menu-h .sub-a {
        visibility: hidden;
        display: contents;
        width: 100%;
        transition: 0.5s;
    }

    #menu-h .responsive{
        visibility: visible;
        display: block;
        width: 100%;
        text-align: center;
        background-color: hsl(128, 79%, 11%);
        transition: 2s;
        height: 249px;
        margin: 25px;
        margin-left: -2px;
    }
    #menu-h a {
        padding: 1px;
    }

    #menu-h a img {
        width: 0;
        height: 0;
        margin: 0;
    }

    .Carrito {
        background: #149425;
        width: 100px;
        height: 80px;
        margin-left: 16px;
        border-radius: 20px;
        display: flex;
    }

    main h1 {
        color: black;
        font-size: 54px;
        margin-top: -31px;
        margin-left: 2px;
    }

    .compra .total {
        width: fit-content;
        border: solid 2px;
        border-color: green;
        border-radius: 5px;
        margin-left: 8px;
        margin-top: -120px;
    }

    .productos1 {
        display: block;
        justify-content: center;
        align-items: center;
        margin-left: 16px;
        padding-top: 50px;
        position: static;
    }

    .product {
        width: 357px;
        height: auto;
        display: inline-block;
        grid-gap: 1rem;
        grid-template-columns: auto auto auto auto;
        background: white;
        border-radius: 15px;
    }

    main .infom {
        width: 100px;
        height: 100px;
        padding: 5px;
        border-radius: 10px;
        color: white;
        background: rgb(44, 42, 42);
        line-height: 18px;
        margin: 10px;
    }

    #Comprar {
        background-color: #06330C;
        width: 100px;
        height: 32px;
        border-radius: 15px;
        margin: -60px;
        margin-left: 110px;
    }

    #Comprar ul {
        display: flex;
        text-align: center;
        font-size: 20px;
        list-style: none;
        margin: -5px;
        line-height: 30px;
    }

    .Comprar nav ul li {
        width: 100%;
        border-top: 0;
        border-bottom: 0;
    }

    #Comprar a {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-decoration: none;
        margin: 0;
    }

    #limpiar_car button {
        background-color: #06330C;
        color: white;
        width: 100px;
        height: 47px;
        border-radius: 15px;
        border: none;
        margin-left: 244px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        line-height: 20px;
    }

    /*imagen de fondo*/
    
    .Imagen {
        width: auto;
        height: auto;
        margin-right: 0;
    }

    .Imagen .imagen2 img {
        width: 100%;
        height: 300px;
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
    }

    footer {
        margin-top: 100px;
        display: block;
        align-items: center;
        justify-items: center;
    }

    footer h4 {
        color: #06330C;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin: 0;
        text-align: center;
    }

    footer h5 {
        text-align: center;
        color: #06330C;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        padding-top: 20px;
        margin: 0;
    }

    .redes {
        display: flex;
        align-items: center;
        justify-content: center;
        order: 3;
        margin-left: -40px;
    }

    .redes .sociales {
        margin-left: 0;
        padding-top: 0;
    }
}