body{
    background-repeat:no-repeat;
    background-position:top;
    background-size: 600px;
    background-color:#DAF7A6; 
}   

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header div img {
    margin-top: 10px;
}

header img {
    float: left;
}

h1{
    margin-left: 160px;
    color: #06330C;
    font-size: 35px;
    line-height: 180px;
    margin-top: -5px;
}

.img-menu{
    display: none;
}

#menu-h a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 33px;
    margin: 0;
}

#menu-h {
    height:60px;
    border-radius: 15px;
    background-color: hsl(128, 79%, 11%);
} 

#menu-h ul {
    display: flex;
    text-align: center;
    margin:auto;
    font-size: 25px;
    float: left;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 60px;
}

#menu-h a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 16px;
    margin-left: 15px;
    margin-right: 15px;
    line-height: 60px;
}

#menu-h a img {
    width: 22px;
    height: 22px;
    margin: 17px;
}

nav ul li:hover{
    background-color:#A9DFBF;
}

main {
   overflow:auto;
   display:flex;
   justify-content: space-between;
   padding: 50px;
}

main::-webkit-scrollbar {
    width: 1px;
    
   }

main .caja {
        width: 300px;
        height: 330px;
        border-radius: 20px;
        background:#0C0C0C;
    }
    
    .img .img2  img {
        height: 200px;
        margin-top: 15px;
        border-radius: 20px;
    }

    .subcaja {
        background:#0C0C0C;
        margin: 0;
        padding: 0;
        border-radius: 15px;
    }
    
    .subcaja .texto h2{
        font-size: 30px;
        margin: 5px;
        margin-left: 25px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .subcaja .texto h3{
        font-size: 30px;
        margin: 5px;
        margin-left: 26px;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }

    .carousel {
        width: 94%;
        margin-left: 10px;
        border-radius: 15px;
    }


#Cajas {
   display:flex;
   grid-gap:30px;
}

#Cajas #caja {
    transition: all 300ms;
    position: relative;
}
    
#Cajas #caja:hover{
    transition: scale(1,15);
}

footer{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor:pointer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer h4{
    color:#06330C;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

footer h5{
    text-align: right;
    margin-left: 380px;
    color: #06330C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.redes {
    align-items: center;
    display: block;
}

.redes .sociales{
    text-align: center;
    line-height: 100px;
    display: block;

}

.redes .sociales li{
    display: inline-block;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.redes img:hover {
    background-color:#A9DFBF;
    border-radius: 20px;
}

/*web responsive: laptop*/
@media screen and (max-width: 1124px) and  (min-width:701px){
    header{
        display: block;
        align-items: center;
        justify-content: center;
    }
    header .content{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main aside .img2 img{
        width: auto;
        height: auto;
        margin-top: 0px;
    }

    footer{
        display: grid;
        margin-top: 100px;
        text-align: center;
    }
    footer h4{
        margin-left: 0;
        margin-bottom: 0;
        margin-top: 0;
    }
    footer h5{
        text-align: center;
        margin-left: 0;
        margin-bottom: 0;
    }
    footer .btn-abrir-popup {
        height: auto;
        order: 1;
    }
    footer .Barra{
        order: 2;
        text-align: center;
        margin-top: 30px;
    }
    footer .redes{
        order: 3;
    }
    .redes .sociales{
        padding-top: 0;
        margin-left: 0;
        margin-bottom: 10px;
        margin-top: 0;
    }
}

/* web responsive: movil */
@media screen and (max-width: 700px) {
    * {
        box-sizing: border-box;
        font-size: 13pt;
    }

    body {
        display: block;
        background-position: revert;
        background-size: 770px;
    }

    header {
        display: block;
        align-items: center;
    }
    .content{
        align-items: center;
        justify-content: space-between;
    }

    h1 {
        margin-left: 30px;
        color: #06330C;
        font-size: 23px;
        line-height: 180px;
        margin-top: -5px;
    }

    .inicio_imagen {
        display: block;
        justify-content: center;
    }

    .inicio_imagen img {
        width: 100px;
        height: 100px;
    }

    .img-menu{
        display: block;
        width: 30px;
        height: 30px;
        float: right;
        padding: 2px;
        margin: 20px;  
        margin-top: -120px;
    }
    nav ul li{
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        width: 100%;
        
    }
    #menu-h {
        background-color: transparent;
        width: 100%;  
        padding: 0px;
    }

    #menu-h .sub-a {
        visibility: hidden;
        display: contents;
        width: 100%;
        transition: 0.5s;
    }

    #menu-h .responsive{
        visibility: visible;
        display: block;
        width: 100%;
        text-align: center;
        background-color: hsl(128, 79%, 11%);
        transition: 2s;
        height: 250px;
    }

    #menu-h a {
        padding: 1px;
    }

    #menu-h a img {
        width: 0;
        height: 0;
        margin: 0;
    }

    main {
        overflow: auto;
        margin-top: -50px;
        display: flex;
        justify-content: space-between;
        padding-top: 50px;
    }

    main h2 {
        color: #06330C;
        font-size: 61px;
        font-family: Arial, Helvetica, sans-serif;
        margin-left: 13px;
        text-align: center;
    }

    main .Parrafo {
        text-align: left;
        color: #06330C;
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        width: auto;
        margin-top: 350px;
    }
    
    main .caja1 .btn_costo {
        font-size: 35px;
        text-align: center;
        background: #62bf6e;
        width: 90px;
        border-radius: 10px;
        margin-left: 165px;
        margin-top: -40px;
        height: 26px;
        text-decoration: none;
    }

    .caja1 h5 {
        font-size: 20px;
        color: white;
        margin: 0px;
        margin-left: 10px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 30px;
    }

    #btn_comprar button {
        font-size: 35px;
        text-align: center;
        background: #06330C;
        width: 150px;
        border-radius: 10px;
        height: 50px;
        text-decoration: none;
        margin-top: 0px;
        margin-left: 0px;
    }

    h5 {
        font-size: 30px;
        color: white;
        margin: 0px;
        line-height: 45px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .Imagen .img2 img {
        height: 300px;
        margin-right: 0;
        margin-left: 15px;
        margin-top: 0;
    }

    main aside {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;
        padding-top: -300px;
        padding-bottom: -100px;
        margin-top: -550px;
    }

    main aside .img2 {
        margin-left: 100px;
        width: 250px;
    } 

    main aside h4 {
        margin-right: 0;
    }

    main aside p {
        text-align: center;
    }

    /*imagen de fondo*/
    
    .Imagen {
        width: auto;
        height: auto;
        margin-right: 0;
    }

    .Imagen .img2 img {
        width: 100%;
        height: 300px;
        margin-right: 0;
        margin-left: 0;
        margin-top: 0;
    }

    main .caja1 {
        display: initial;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: auto;
        margin-bottom: 130px;
    }


    footer {
        margin-top: 30px;
        display: grid;
        align-items: inherit;
        justify-items: center;
    }
    
    footer h4 {
        color: #06330C;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
        margin:0px;
        padding: 0px;
    }

    footer h5 {
        text-align: initial;
        color: #06330C;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin:0px;
        padding: 10px;
    }

    .redes {
        display: flex;
        align-items: center;
        justify-content: center;
        order: 3;
    }

    .redes .sociales {
        margin-left: -30px;
        padding-top: 0;
    }

}