body{
    background: #DAF7A6 ;
    background-image: url(/ruta360/imagenes/Recurso.png.png);
    background-repeat: repeat-y;
    background-position: right;
    background-size: 520px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1{
    margin-left: 160px;
    line-height: 100px;
    color: #06330C;
    font-family:Arial, Helvetica, sans-serif;
}

#menu-h {
    width:50%;
    height:30px;
    padding: 15px;
    border-radius: 15px;
    background-color: hsl(128, 79%, 11%);
} 

#menu-h ul {
    display: flex;
    text-align: center;
    margin:auto;
    font-size: 25px;
    float: left;
    list-style: none;
    padding: 0px;
    margin: 2px;
}

#menu-h a {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-decoration: none;
    padding: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

nav ul :hover{
    background-color:#A9DFBF;
}

main {
    align-items: center;
    justify-content: space-around;
    display: flex;
    margin: 0;
    padding: 0;
    height: 400px;
}

main .caja1 {
    width: 2600%;
    height: 450px;
    padding: 0;
    color:#06330C;
    justify-content: space-around;
    margin-left: 60px;
}

main h2 {
    text-align:left;
    color: #06330C;
    font-size: 61px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 13px;
}

main .parrafo  ul {
    text-align:left;
}

main p {
    text-align:left;
    color: #06330C;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    width: 70%;
}

aside {
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 400px;
    height: auto;
    border-radius: 20px;
}

main aside .img2 {
    
    margin-right: 100px;
}

body {
    height: 100vh;
    display: grid;
    align-items: center;
    justify-content: center;
}

.Botton h5{
    font-size: 30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.Botton a {
    text-decoration: none;
}

.Botton:hover {
    background-color:#A9DFBF;
    border-radius: 10px;
}



aside .Botton  {
    font-size:35px;
    text-align:center;
    background: #06330C;
    width: 150px;
    border-radius: 10px;
    margin-left: -160px;
    margin-top: -100px;
}

footer{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    cursor:pointer;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer h4{
    color:#06330C;
    margin-left: 90px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
}

footer .tex{
    margin-left: 0px;
}

footer h5{
    text-align: right;
    margin-left: 300px;
    color: #06330C;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
}

.redes {
    align-items: center;
    margin-left: -0px;
    display: block;
}

.redes .sociales{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 100px;
    display: block;
    margin-left: 0px;
}

.redes .sociales li{
    display: inline-block;
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.redes img:hover {
      background-color:#A9DFBF;
      border-radius: 20px;
}