body{
    background:rgb(200, 219, 157);
}
#menu{
    width: 32%;
    height: 100%;
}
.caja{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    margin-left: 30px;
    margin-top:16%;
}
.subcaja{
    background: rgb(4, 56, 4);
    width: 20vw;
    height: 460px;
    list-style: none;
    border-radius: 23px;
}
.subcaja button a{
    text-decoration: none;
    color: white;
}
.li{
    margin-bottom: 12px;
    margin-top: 12px;
}
li a{
    text-decoration: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 24pt;
}
.li:hover{
    background:rgb(200, 219, 157);
    border-radius: 9px 0px 0px 9px;
}
.li a:hover{
    color:rgb(4, 56, 4);
}
.btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size:16pt ;
    width: 90%;
    height: 40px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 0;
    background: rgb(20, 200, 20);
    color: white;
    cursor: pointer;
}

