body{
    display: flex;
    align-items: center;
}

.clendario{
    width: 33%;
    height: auto;
}
.calen-google{
    width: 100%;
    height: 450px;
}
#calendar{
    background: white;
    margin-right: 10%;
}
.administrador{
    width: 30%;
    margin-left:0px;
    color: green;
}
.subcaja2{
    background:rgb(10, 82, 10);
    width: 230px;
    height: auto;
    padding: 10px;
    border-radius: 15px;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    
}
.subcaja2 h3, p{
    margin: 0px;
    margin-left:0px;
}
.perfil img{
    width: 50px;
    height: 40px;
}
.reservas{
    margin-top: 10px;
}

.subreservas{
    background: rgba(255, 255, 255, 0.342);
    width: 350px;
    height: 220px;
    text-align: center;
    border-radius: 15px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    overflow: auto;
}
.reservas .subreservas ol{
    list-style: none;
    display: block;
    justify-content: center;
    padding: 0;
}
.subreservas::-webkit-scrollbar{
    width: 1px;
}

/*.reservas .subreservas ol li{
    width: 310px;
    height: 40px;
    margin-left:20px;
    background: white;
    display: flex;
    align-items: center;
    border-radius: 8px;
    
}*/
.reservas .subreservas ol li{
    height: 40px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.reservas .subreservas ol li p{
    width: 200px;
    padding: 0;
    margin: 0;
}

.subreservas a{
    background: rgb(8, 219, 8);
    color: white;
    border-radius: 8px;
    width: fit-content;
    font-size: 11pt;
    margin-right:10px;
    padding-left:5px;
    padding-right:5px;
}
.form{
    width: 310px;
    height: auto;
    margin-left:20px;
    background: white;
    border-radius: 8px;
}
#buscador{
    display:none;
}
.informacion{
    width: 350px;
    height: 150px;
    background: rgba(255, 255, 255, 0.342);
    border-radius: 15px;
}

.subinformacion{
    display: flex;
    align-items: center;
}
.letras {
    margin-left: 12px;
    color: rgb(9, 121, 15);
}
.cajita{
    margin-left: 10px;
    color: white;
    width: 80px;
    height: 70px;
    background: rgb(228, 145, 51);
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
}
.cajita p{
    margin: 13px;
}